<title>Consultoria | CADEM</title>


<article>
		<section class="banner-1">
			<h3 id="texto-animate2">Consultoria empresarial</h3>
		</section>

		<section>
			<div class="section2-consultora-texto">
				<p>En CADEM trabajamos con los Líderes de las empresas para diagnosticar, evaluar, diseñar, ejecutar y entregar Soluciones Empresariales Totalmente Personalizadas, ya sean estratégicas, tácticas u operativas, pero siempre alineadas a la cultura organizacional.</p>
				<br>
				<p>Nuestros Líderes de Proyecto en conjunto, evalúan las necesidades del negocio y después crean una solución de aprendizaje exclusiva a fín a los objetivos estratégicos del negocio.</p>
			</div>

			<div class="section2-consultora-form">
				<h1>Solicitar</h1>

				<form action="">
					<p>Email*</p>
					<p><input type="text" required></p>

					<p>Empresa*</p>
					<p><input type="email" required></p>

					<p>Nombre*</p>
					<p><input type="text" required></p>

					<p>Apellidos</p>
					<p><input type="text"></p>

					<p>Puesto*</p>
						<select name="sector-industria" id="input-form1" required>
							<option selected value="0"> -Selecciona- </option>
							<option value="1">Estrategico (Dirección o Alta gerencia)</option>
							<option value="2">Tactico (Gerencias de departamentos, Jefes, Coordinadores, Supervisores)</option>
							<option value="3">Operativo (Ejecución de la operación)</option>
						</select>

					<p>En que area desempeñas tus funciones*</p>
						<select name="sector-industria" id="input-form1" required>
							<option selected value="0"> -Selecciona- </option>
							<option value="1">Dirección General</option>
							<option value="2">Administración</option>
							<option value="3">RH (NO areas de capacitación)</option>
							<option value="4">RH (Areas de capacitación)</option>
							<option value="5">Marketing y Publicidad</option>
							<option value="6">Ventas y servicio al cliente</option>
							<option value="7">Finanzas y contabilidad</option>
							<option value="8">Producción</option>
							<option value="9">TI (Tecnologias de la información)</option>
							<option value="10">Legal</option>
							<option value="11">Otra</option>
						</select>

					<p>Comentarios*</p>
					<textarea name="" id="" cols="30" rows="10" required></textarea>

					<button type="submit">Contactar</button>
				</form>
			</div>
		</section>
	</article>

	<?php
		include "footer.php";
	?>
