<title>Consultora | CADEM</title>

<div class="imagen-contenedor">
		<img src="./img/fondo.jpg" alt="" id="fondo-header">
		<div class="centered">
			<p id="texto-animate">Bienvenidos a CADEM</p>
		</div>
	</div>

	<article>
		<section id="section1">
			<div class="section1-texto">
				<h1>¿QUE HACEMOS POR TI?</h1>
				<hr>
				<p>¿Tu empresa presenta crisis en la operación del negocio y requieres una intervención urgente..?</p><br>
				<p> ¡El programa de Consultoría General es para ti!</p><br>
				<p>Te ofrecemos la asesoría de un consultor especializado, logrando la detección de problemas y resolviendo los objetivos indicados.</p>
				<p>También te ofrecemos de cursos de capacitaciones presenciales</p>	
			</div>
			<div class="section1-img">
				<img src="./img/2.jpg" alt="">
			</div>
		</section>

		<div class="slideshow">
			<ul class="slider">
				<li>
					<img src="./img/c.jpg" alt="">
				</li>
				<li>
					<img src="./img/lider-web.jpg" alt="">
					<section class="caption">
						<h1>Un buen lider no crea seguidores<br>CREA MAS LIDERES</h1>
					</section>
				</li>
				<li>
					<img src="./img/f.jpg" alt="">
				</li>
				<li>
					<img src="./img/e.png" alt="">
					<section class="caption">
						<h1>OCUPATE DE TU VIDA<br>Nosotros nos encargamos de que tu empresa crezca</h1>
					</section>
				</li>
			</ul>

			<ol class="pagination">
				
			</ol>
		
			<div class="left">
				<span class="fa fa-chevron-left"></span>
			</div>

			<div class="right">
				<span class="fa fa-chevron-right"></span>
			</div>
		</div>

		<section id="section1">
			<div class="section1-img">
				<img src="./img/1.jpg" alt="">
			</div>

			<div class="section1-texto">
				<h1>DESARROLLO DEL SERVICIO</h1>
				<hr>
				<p>Consultoria General inicia con la visita del consultor al negocio,  quien a través de un prediagnóstico, realiza  entrevistas y dinámicas dirigidas al personal.</p><br>
				<p>Se desarrollan planes de acción alcanzables y enfocados en mejorar cada uno de las áreas, por lo que podrás ver resultados y mejoras en tu empresa.</p>	
			</div>
		</section>
	</article>
	
	<?php
		include "footer.php";
	?>